<nav>
  <div class="container nav-inner">
    <a href="/" class="brand">Voidless Tale</a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/voidless-tale/">Voidless Tale</a></li>
      <li><a href="/smith/">Voidless Smith</a></li>
      <li><a href="/devlog/">Devlog</a></li>
      <li><a href="/wiki/">Wiki</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/cms/">CMS</a></li>
    </ul>
  </div>
</nav>
